:root {
  --primary-color: #121f43;
  --secondary-color: #152e4f;
  --tertiary-color: #152e4f;
  --quaternary-color: #152e4f;
  --background-color: #10172a;
  --text-color: #e2e8f0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.portfolio {
  display: flex;
  height: 100vh;
}

.left-column {
  width: 50%; 
  height: 100%;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.right-column {
  padding: 130px 0 0 50%;
  width: 50%;
  overflow-y: auto;
  height: 100vh;
}

.right-column section {
  margin-bottom: 20px;
}

.right-column h2 {
  margin-bottom: 10px;
}

.right-column p,
.right-column ul {
}

.right-column ul {
  padding-left: 20px;
  list-style-type: disc;
}

.active {
  color: #4f46e5; /* Active link color */
  font-weight: bold;
}

#cursor-bg {
  display: none;
  position: absolute;
  width: 500px;
  height: 500px;
  background: var(--secondary-color);
  border-radius: 10%;
  filter: blur(90px);
  pointer-events: none;
  opacity: 0.7;
  z-index: -1;
}

/* Mobile devices */
@media (max-width: 480px) {
  /* styles for mobile */
}

/* Tablet devices */
@media (max-width: 768px) {
  /* styles for tablets */
}

/* Large desktop monitors */
@media (min-width: 1200px) {
  /* styles for large monitors */
}